/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .sum-msg{float:left;width:100%;padding:30px 20px;text-align:center;border:2px solid;border-top:45px solid;font-size:14px;letter-spacing:1px;}
.error{color:red;}
.input-bx input.error[type="text"],.input-bx input.error[type="password"],.input-bx input.error[type="email"]{border:1px solid red;}
.input-bx label.error{float:right;font-size:11px;line-height:11px;}
#my-welcome-message{display:none;z-index:500;position:fixed;width:36%;left:30%;top:20%;padding:20px 2%;font-family:Calibri, Arial, sans-serif;background:#FFF;}

/* Pop up window for thanks */
.modal-box {
	left: 16%;
	top:50%;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}
@media (min-width: 32em) {

.modal-box { width: 70%; }
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
/* Pop up window for thanks */